.gradle
.kotlin
build/
*.class
temp/
tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
.idea/*
!.idea/dictionaries
!.idea/runConfigurations
!.idea/icon.*[.png, .svg]
!.idea/.name
!.idea/externalDependencies.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Memory snapshots
*.hprof

# Log/OS Files
*.log

# Swagger
docs/

# Database files
/database
/db
*.db

# Keystore files
*.jks
*.keystore
keystore.properties
ssl.properties

# Environment files
.env
.env.*
